/* header tabs */
.header-tab .nav-tabs {
    border-bottom: 1px solid grey;
}
.header-tab .nav-tabs .nav-link.active {
    border: 1px solid grey;
    border-bottom: none;
}

/* header dropdown */
.header-dropdown .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-dropdown .dropdown {
    flex: 1;
    margin-right: 10px;
}
.header-dropdown .title {
    width: 100%;
}
.header-dropdown .menu {
    width: 100%;
}
.header-dropdown .menu .item {
    margin-left: 0.5rem;
}

/* dark mode - dropdown */
.dark-theme .header-dropdown .title {
    color: #121212;
    background-color: #eee;
}
.dark-theme .dark-mode-btn {
    color: #809fff;
}
/* dark mode - tab */
.dark-theme .header-tab .nav-link {
    color: aquamarine;
}
.dark-theme .header-tab .nav-link.active {
    color: #121212;
}