/* header tabs */
.header-tab .nav-tabs {
    border-bottom: 1px solid grey;
}
.header-tab .nav-tabs .nav-link.active {
    border: 1px solid grey;
    border-bottom: transparent;
}

/* header dropdown */
.header-dropdown .title {
    width: 100%;
}
.header-dropdown .menu {
    width: 100%;
}
.header-dropdown .menu .item {
    margin-left: 0.5rem;
}

body.dark-theme .header-dropdown .title {
    color: #121212;
    background-color: #eee;
}