@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Cambria', 'Lucida Bright', monospace, sans-serif;
}
.content {
    margin-left: 20%;
    margin-right: 20%;
}
.bold {
    font-weight: bold;
}
.hide {
    display: none;
}

a:link {
    text-decoration: none;
}
a:link:hover {
    text-decoration: underline;
}

/* dark mode */
body.dark-theme {
    color: #eee;
    background: #121212;
}
body.dark-theme a {
    color: #809fff;
}

/* media query */
@media screen and (max-width: 1200px) {
    .content {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 95%;
    }
    .content {
        margin-left: 7%;
        margin-right: 7%;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 85%;
    }
    .content {
        margin-left: 0;
        margin-right: 0;
    }
    .header-dropdown .title, .header-dropdown .menu {
        font-size: 95%;
    }
    .hide {
        display: initial;
    }
    .header .header-tab {
        display: none;
    }
}