@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;350;400&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body {
    font-size: 1.2rem;
    font-family: 'Roboto Slab', 'Cambria', 'Lucida Bright', monospace, sans-serif;
    background: url('assets/bg/bg-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.wrapper {
    padding: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper > .main-wrapper {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper > .main-wrapper > #main-wrapper {
    width: 50rem;
}

.hide {
    display: none;
}
.un-hide {
    display: initial;
}
.bold {
    font-weight: bold;
}
.dark-mode .bold {
    font-weight: 350;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.dark-mode a {
    color: #809fff;
}

.dark-mode {
    color: #eee;
    background: #121212;
    font-weight: 300;
}

/* media query */
/* medium screen */
@media screen and (max-width: 1000px) {
    body {
        font-size: 90%;
        /* background: aqua; */
    }
    .wrapper > .main-wrapper > #main-wrapper {
        width: 40rem;
    }
}
/* mobile */
@media screen and (max-width: 600px) {
    body {
        font-size: 85%;
        /* background: bisque; */
    }
    .hide {
        display: initial;
    }
    .un-hide {
        display: none;
    }
}