<!-- Work experience -->
<div class="work-comp">
    <div class="bold mobile">
        <div class="work-header">
            <i class="fas fa-briefcase work-icon"></i> Work experience
        </div>
        <hr>
    </div>
    <!-- Amazon -->
    <div class="work-info">
        <div class="web work-logo">
            <img class="logo amazon" alt="Amazon">
        </div>
        <div>
            <!-- Full time -->
            <div>
                <div>
                    <span class="work-role">
                        <span class="role bold">SDE 1</span>
                    </span> - 
                    <span class="work-institute">
                        <a href="https://www.linkedin.com/company/amazon/" target="_blank">Amazon</a>
                    </span>
                </div>
                <div class="work-timeline">
                    <i class="far fa-calendar-alt"></i>
                    July 2022 - Present
                    &nbsp;
                    <i class="fas fa-map-marker-alt"></i>
                    Bangalore, India
                </div>
                <div class="work-tech mb-2">
                    <span class="tech">AWS</span>
                    <span class="tech">JAVA</span>
                </div>
                <div class="work-description mt-2">
                    <ul>
                        <li>Part of IN Promotion Team (cashback), which provides the right promotion offers to shoppers at the right time and I mostly worked on Operational Excellence tasks.</li>
                        <li>Solved 90% of customer long pending refund stuck issues.</li>
                        <li>Improved the operational score of multiple services by adding SOP and latency, fault metrics on dependency level, removing redundant code, weblabs, and making a pipeline CD.</li>
                    </ul>
                </div>
            </div>
            <!-- Intern -->
            <div class="mt-3">
                <div>
                    <span class="work-role">
                        <span class="role bold">SDE Intern</span>
                    </span> - 
                    <span class="work-institute">
                        <a href="https://www.linkedin.com/company/amazon/" target="_blank">Amazon</a>
                    </span>
                </div>
                <div class="work-timeline">
                    <i class="far fa-calendar-alt"></i>
                    Jan 2022 - June 2022
                    &nbsp;
                    <i class="fas fa-map-marker-alt"></i>
                    Virtual (Work From Home)
                </div>
                <div class="work-tech mb-2">
                    <span class="tech">DYNAMODB</span>
                    <span class="tech">JAVA</span>
                    <span class="tech">MOCKITO</span>
                    <span class="tech">GIT</span>
                </div>
                <div class="work-description mt-2">
                    <ul>
                        <li>Migrated existing API to different service, modified database schema as per the requirements and performed API testing.</li>
                        <li>Checked consistency of records and successfully migrated to a new database table.</li>
                        <li><a href="https://drive.google.com/file/d/1woz1clE5dru4F76B76kj8CJihayNioHi/view?usp=sharing" target="_blank">Internship Certificate</a> (Drive)</li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
    <hr>
</div>