<!-- Work experience -->
<div class="work-comp">
    <div class="bold mobile">
        <div class="work-header">
            <i class="fas fa-briefcase work-icon"></i> Work experience
        </div>
        <hr>
    </div>
    <!-- Amazon SDE Intern -->
    <div class="work-info">
        <div class="web work-logo">
            <img class="logo amazon" alt="Amazon">
        </div>
        <div>
            <div>
                <span class="work-role">
                    <span class="role bold">SDE Intern</span>
                </span> - 
                <span class="work-institute">
                    <a href="https://www.linkedin.com/company/amazon/" target="_blank">Amazon</a>
                </span>
            </div>
            <div class="work-timeline">
                <i class="far fa-calendar-alt"></i>
                Jan 2022 - June 2022 (Present)
                &nbsp;
                <i class="fas fa-map-marker-alt"></i>
                Virtual (Work From Home)
            </div>
            <div>
                <div class="work-description mt-2">
                    <ul>
                        <li>Part of <span class="bold">IN Promotion Team (cashback)</span>, which provides the right promotion offers to shoppers at the right time.</li>
                        <li>Migrated existing API to different service, modified database schema as per the requirements and performed API testing.</li>
                        <li>Checked consistency of records and successfully migrated to a new database table.</li>
                        <li>Learning and understanding at Amazon 😄</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>