<!-- Projects -->
<div class="project">
    <div class="bold hide">
        <div class="project-header">
            <i class="fas fa-tasks project-icon"></i> Projects
        </div>
        <hr>
    </div>
    <!-- Decoder -->
    <div>
        <div>
            <span class="project-title bold">Decoder</span> - 
            <span class="project-timeline">Nov. 2020</span> 
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">MEAN STACK</span>
            <span class="tech">MONGODB</span>
            <span class="tech">NODE.JS</span>
            <span class="tech">ANGULAR</span>
        </div>
        <div class="project-details">
            <ul>
                <li>A competitive programming portal.</li>
                <li>
                    Decoder contains a compiler for some of the
                    languages, discussion forum, upcoming contests
                    list of various coding platforms.
                </li>
                <li>
                    Designed and implemented front-end in Angular
                    for upcoming contests, discussion forums.
                </li>
                <li>
                    Designed request and response messages interface
                    (API) in Node.js for communication between front-end and backend.
                </li>
                <li>
                    Configured MongoDB as a database for discussion forums.
                </li>
                <li>
                    <a href="https://github.com/DhruvGheewala/Decoder" target="_blank">Source code <i class="fab fa-github"></i></a>
                    and <a href="https://decoderforces.netlify.app/" target="_blank">Live here</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Stress Testing -->
    <div>
        <div>
            <span class="project-title bold">Stress Testing</span> -
            <span class="project-timeline">Mar. 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">PYTHON</span>
            <span class="tech">C++</span>
        </div>
        <div class="project-details">
            <ul>
                <li>You can use stress testing in competitive programming to test your solution against
                    many randomly generated tests in order to find a “small” test case that your
                    solution produces wrong answer for this case, and hopefully this can help you to
                    find the bug in your code of the mistake in your approach and eventually helping you
                    solve the problem.
                </li>
                <li>Used Python to automate all processes (execute test case, run code, compare output).</li>
                <li>Used C++ to generate random test cases.</li>
                <li>
                    <a href="https://github.com/dhiraj-01/Stress-Testing" target="_blank">Source code <i class="fab fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Code and Draw -->
    <div>
        <div>
            <span class="project-title bold">Code and Draw</span> - 
            <span class="project-timeline">Sep. 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">JAVASCRIPT</span>
            <span class="tech">BOOTSTRAP</span>
        </div>
        <div class="project-details">
            <ul>
                <li>A website which contains code-editor and white-board.</li>
                <li>
                    Useful in coding interviews for better explanation
                    through drawing and writing code side by side.
                </li>
                <li>
                    <a href="https://github.com/dhiraj-01/Code-and-Draw" target="_blank">Source code <i class="fab fa-github"></i></a> 
                    and <a href="https://dhiraj-01.github.io/Code-and-Draw/" target="_blank">Live here</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Daily Todo -->
    <div>
        <div>
            <span class="project-title bold">Daily Todo</span> - 
            <span class="project-timeline">Mar. 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">NODE.JS</span>
            <span class="tech">JAVASCRIPT</span>
            <span class="tech">BOOTSTRAP</span>
        </div>
        <div class="project-details">
            <ul>
                <li>Manage your day to day todo items at one place.</li>
                <li>Provide CRUD operations (add, delete, complete).</li>
                <li>Backend in Node.js using Express.js framework.</li>
                <li><a href="https://github.com/dhiraj-01/Daily-Todo" target="_blank">Source code <i class="fab fa-github"></i></a></li></li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Game Center -->
    <div>
        <div>
            <span class="project-title bold">Game Center</span> - 
            <span class="project-timeline">Oct. 2020</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">ANGULAR</span>
            <span class="tech">HTML</span>
            <span class="tech">CSS</span>
        </div>
        <div class="project-details">
            <ul>
                <li>A simple website in which you can play 2 simple games. 
                    <a href="https://en.wikipedia.org/wiki/Tic-tac-toe" target="_blank">TicTacToe</a>
                    and <a href="https://en.wikipedia.org/wiki/15_puzzle" target="_blank">N-Puzzle</a>
                </li>
                <li>In the TicTacToe, you can play with computer 💻 (used MinMax Algorithm).</li>
                <li>In the N-Puzzle, you can vary N between 2 to 10.</li>
                <li>A first hand experience of Angular framework.</li>
                <li>
                    <a href="https://github.com/dhiraj-01/Game-Center" target="_blank">Source code <i class="fab fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- CF-Notification -->
    <div>
        <div>
            <span class="project-title bold">CF-Notification</span> - 
            <span class="project-timeline">June 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">JAVASCRIPT</span>
            <span class="tech">BOOTSTRAP</span>
        </div>
        <div class="project-details">
            <ul>
                <li>A simple sound based on your codeforces submission AC / TLE / WA.</li>
                <li>Useful during coding round / contest.</li>
                <li>
                    <a href="https://github.com/dhiraj-01/CF-Notification" target="_blank">Source code <i class="fab fa-github"></i></a>
                    and <a href="https://dhiraj-01.github.io/CF-Notification/" target="_blank">Live here</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>