.project-comp {
    font-size: 1em;
}

/* project header */
.dark-mode .project-comp .project-header {
    color: rgb(163, 163, 163);
}
.project-comp .project-header .project-icon {
    margin-right: 5px;
}

/* project title */
.project-comp .project-title {
    color: #b5179e;
}
.dark-mode .project-comp .project-title {
    color: #48e5c2;
}

/* project tech */
.project-comp .project-tech .tech {
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
    font-size: 0.7em;
    color: #fff;
    border-radius: 5%;
    background-color: #3e92ec;
}

/* project timeline */
.project-comp .project-timeline {
    font-size: 0.9em;
}