<!-- Projects -->
<div class="project-comp">
    <div class="bold mobile">
        <div class="project-header">
            <i class="fas fa-tasks project-icon"></i> Projects
        </div>
        <hr>
    </div>
    <!-- Decoder -->
    <div>
        <div>
            <span class="project-title bold">Decoder</span> - 
            <span class="project-timeline">Nov. 2020</span> 
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">MEAN STACK</span>
            <span class="tech">MONGODB</span>
            <span class="tech">NODE.JS</span>
            <span class="tech">ANGULAR</span>
        </div>
        <div class="project-details">
            <ul>
                <li>A competitive programming portal.</li>
                <li>
                    Decoder contains a compiler for some of the
                    languages, discussion forum, upcoming contests
                    list of various coding platforms.
                </li>
                <li>
                    Designed and implemented front-end in Angular
                    for upcoming contests, discussion forums.
                </li>
                <li>
                    Designed request and response messages interface
                    (API) in Node.js for communication between front-end and backend.
                </li>
                <li>
                    Configured MongoDB as a database for discussion forums.
                </li>
                <li>
                    <a href="https://github.com/DhruvGheewala/Decoder" target="_blank">Source code</a> <i class="fab fa-github"></i>
                    and 
                    <a href="https://decoderforces.netlify.app/" target="_blank">Live here</a> <i class="fas fa-globe-asia"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Stress Testing -->
    <div>
        <div>
            <span class="project-title bold">Stress Testing</span> -
            <span class="project-timeline">Mar. 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">PYTHON</span>
            <span class="tech">C++</span>
        </div>
        <div class="project-details">
            <ul>
                <li>You can use stress testing in competitive programming to test your solution against
                    many randomly generated tests in order to find a “small” test case that your
                    solution produces wrong answer for this case, and hopefully this can help you to
                    find the bug in your code of the mistake in your approach and eventually helping you
                    solve the problem.
                </li>
                <li>Python to automate all processes (execute test case, run code, compare output) and C++ to generate random test cases.</li>
                <li>
                    <a href="https://github.com/dhiraj-01/Stress-Testing" target="_blank">Source code</a> <i class="fab fa-github"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Code and Draw -->
    <div>
        <div>
            <span class="project-title bold">Code and Draw</span> - 
            <span class="project-timeline">Sep. 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">JAVASCRIPT</span>
            <span class="tech">BOOTSTRAP</span>
        </div>
        <div class="project-details">
            <ul>
                <li>
                    I created a web application to enhance technical interview communication. 
                    It features a split-screen interface with a code editor on one side and a drawing tool on the other. 
                </li>
                <li>
                    This allows candidates to write code while simultaneously using visual aids on the whiteboard section to explain their 
                    thought process and problem-solving approach, leading to clearer communication during coding interviews.
                </li>
                <li>
                    <a href="https://github.com/dhiraj-01/Code-and-Draw" target="_blank">Source code</a> <i class="fab fa-github"></i>
                    and 
                    <a href="https://dhiraj-01.github.io/Code-and-Draw/" target="_blank">Live here</a> <i class="fas fa-globe-asia"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Daily Todo -->
    <div>
        <div>
            <span class="project-title bold">Daily Todo</span> - 
            <span class="project-timeline">Mar. 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">NODE.JS</span>
            <span class="tech">JAVASCRIPT</span>
            <span class="tech">BOOTSTRAP</span>
        </div>
        <div class="project-details">
            <ul>
                <li>Built a daily task management application with CRUD functionality and file-based persistence.</li>
                <li>While data is currently stored on the file system for simplicity, this project demonstrates proficiency in back-end development using popular Node.js technologies.</li>
                <li>
                    <a href="https://github.com/dhiraj-01/Daily-Todo" target="_blank">Source code</a> <i class="fab fa-github"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- CF-Notification -->
    <div>
        <div>
            <span class="project-title bold">CF-Notification</span> - 
            <span class="project-timeline">June 2021</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">JAVASCRIPT</span>
            <span class="tech">BOOTSTRAP</span>
            <span class="tech">API</span>
        </div>
        <div class="project-details">
            <ul>
                <li>Developed a web application that provides real-time audio feedback (AC/WA/TLE) for Codeforces submissions using codeforces API, enhancing focus during coding competitions.</li>
                <li>
                    <a href="https://github.com/dhiraj-01/CF-Notification" target="_blank">Source code</a> <i class="fab fa-github"></i>
                    and 
                    <a href="https://dhiraj-01.github.io/CF-Notification/" target="_blank">Live here</a> <i class="fas fa-globe-asia"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>