<!-- Skills -->
<div class="skill">
    <div class="bold hide"><i class="fas fa-code title-icon"></i> Technical Skills<hr></div>
    <div>
        <div class="title bold">Core Skills</div>
        <div>Data Structures & Algorithms, Object-Oriented Programming, Database Management</div>
    </div>
    <div class="mt-3">
        <div class="title bold">Programming Languages</div>
        <div>C, C++, Python (basic)</div>
    </div>
    <div class="mt-3">
        <div class="title bold">Web Development</div>
        <div>Bootstrap, Angular, Javascript / Node.js (basic)</div>
    </div>
    <div class="mt-3">
        <div class="title bold">Databases</div>
        <div>MongoDB (basic), MySQL (basic)</div>
    </div>
    <div class="mt-3">
        <div class="title bold">Tools</div>
        <div>Github, Postman, Visual Studio Code</div>
    </div>
    <hr>
</div>