<!-- Skills -->
<div class="skill">
    <div class="bold hide">
        <div class="skill-header">
            <i class="fas fa-code skill-icon"></i> Technical Skills
        </div>
        <hr>
    </div>
    <div>
        <div class="skill-title bold">Core Skills</div>
        <div class="skill-list">Data Structures & Algorithms, Object-Oriented Programming, Database Management</div>
    </div>
    <div class="mt-3">
        <div class="skill-title bold">Programming Languages</div>
        <div class="skill-list">C, C++, Python (basic)</div>
    </div>
    <div class="mt-3">
        <div class="skill-title bold">Web Development</div>
        <div class="skill-list">Bootstrap, Angular, Javascript / Node.js (basic)</div>
    </div>
    <div class="mt-3">
        <div class="skill-title bold">Databases</div>
        <div class="skill-list">MongoDB (basic), MySQL (basic)</div>
    </div>
    <div class="mt-3">
        <div class="skill-title bold">Tools</div>
        <div class="skill-list">Github, Postman, Visual Studio Code, Sublime Text</div>
    </div>
    <hr>
</div>