.footer-comp {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-comp a {
    margin-left: 5px;
    margin-right: 5px;
}
.footer-comp a:hover {
    text-decoration: none;
    color: black;
}
.dark-mode .footer-comp a:hover {
    text-decoration: none;
    color: #eee;
}