.footer {
    font-size: 1em;
}
.footer a {
    margin-left: 10px;
}
.footer a:hover {
    text-decoration: none;
    color: black;
}
.dark-mode .footer a:hover {
    text-decoration: none;
    color: #eee;
}