<!-- Contact & Links -->
<div class="contact-comp">
    <div class="bold mobile">
        <div class="contact-header">
            <i class="far fa-address-card contact-icon"></i> Contact
        </div>
        <hr>
    </div>
    <!-- Mail -->
    <div>
        <div class="contact-site">
            <i class="fas fa-envelope"></i>
            Email
        </div>
        <div class="contact-link">
            <a href="mailto:hi.dhiraj.govindvira@gmail.com" target="_blank">
                hi.dhiraj.govindvira@gmail.com
            </a>
        </div>
    </div>
    <!-- Github -->
    <div class="mt-3">
        <div class="contact-site">
            <i class="fab fa-github"></i>
            Github
        </div>
        <div class="contact-link">
            <a href="https://github.com/dhiraj-01" target="_blank">
                https://github.com/dhiraj-01/
            </a>
        </div>
    </div>
    <!-- Linkedln -->
    <div class="mt-3">
        <div class="contact-site">
            <i class="fab fa-linkedin"></i>
            Linkedin
        </div>
        <div class="contact-link">
            <a href="https://www.linkedin.com/in/dhiraj-01/" target="_blank">
                https://www.linkedin.com/in/dhiraj-01/
            </a>
        </div>
    </div>
    <!-- Instagram -->
    <div class="mt-3">
        <div class="contact-site">
            <i class="fab fa-instagram"></i>
            Instagram
        </div>
        <div class="contact-link">
            <a href="https://www.instagram.com/dhiraj_govindvira/" target="_blank">
                https://www.instagram.com/dhiraj_govindvira/
            </a>
        </div>
    </div>
    <hr>
</div>