<!-- Contact & Links -->
<div class="contact">
    <div class="bold hide"># Contact<hr></div>
    <!-- Linkedln -->
    <div>
        <div>
            <i class="fab fa-linkedin"></i>
            <span class="site">Linkedin</span>
        </div>
        <div>
            <a class="link" href="https://www.linkedin.com/in/dhiraj-01/" target="_blank">
                https://www.linkedin.com/in/dhiraj-01/
            </a>
        </div>
    </div>
    <!-- Github -->
    <div class="mt-3">
        <div>
            <i class="fab fa-github"></i>
            <span class="site">Github</span>
        </div>
        <div>
            <a class="link" href="https://github.com/dhiraj-01" target="_blank">
                https://github.com/dhiraj-01
            </a>
        </div>
    </div>
    <!-- Mail -->
    <div class="mt-3">
        <div>
            <i class="fas fa-envelope"></i>
            <span class="site">Mail</span>
        </div>
        <div>
            <a class="link" href="mailto:hi.dhiraj.govindvira@gmail.com">
                hi.dhiraj.govindvira@gmail.com
            </a>
        </div>
    </div>
    <!-- Instagram -->
    <div class="mt-3">
        <div>
            <i class="fab fa-instagram"></i>
            <span class="site">Instagram</span>
        </div>
        <a class="link" href="https://www.instagram.com/dhiraj_govindvira/" target="_blank">
            https://www.instagram.com/dhiraj_govindvira/
        </a>
    </div>
    <hr>
    <!-- Coding -->
    <div class="bold">
        # Coding Profiles
    </div>
    <div class="mt-3">
        <div>
            CodeChef
        </div>
        <div>
            <a class="link" href="https://www.codechef.com/users/silent__1" target="_blank">
                https://www.codechef.com/users/silent__1
            </a>
        </div>
    </div>
    <div class="mt-3">
        <div>
            Codeforces
        </div>
        <div>
            <a class="link" href="https://codeforces.com/profile/dhiraj-01" target="_blank">
                https://codeforces.com/profile/dhiraj-01
            </a>
        </div>
    </div>
    <div class="mt-3">
        <div>
            Leetcode
        </div>
        <div>
            <a class="link" href="https://leetcode.com/dhiraj-01/" target="_blank">
                https://leetcode.com/dhiraj-01/
            </a>
        </div>
    </div>
    <div class="mt-3">
        <div>
            HackerRank
        </div>
        <div>
            <a class="link" href="https://www.hackerrank.com/silent__1?hr_r=1" target="_blank">
                https://www.hackerrank.com/silent__1
            </a>
        </div>
    </div>
    <div class="mt-3">
        <div>
            BinarySearch
        </div>
        <div>
            <a class="link" href="https://binarysearch.com/@/dhiraj-01" target="_blank">
                https://binarysearch.com/@/dhiraj-01
            </a>
        </div>
    </div>
    <div class="mt-3">
        <div>
            StopStalk
        </div>
        <div>
            <a class="link" href="https://www.stopstalk.com/user/profile/dhiraj_01" target="_blank">
                https://www.stopstalk.com/user/profile/dhiraj_01
            </a>
        </div>
    </div>
    <hr>
</div>