.contact-comp {
    font-size: 1em;
}

/* contact header */
.contact-comp .contact-header {
    color: #b5179e;
}
.dark-mode .contact-comp .contact-header {
    color: rgb(163, 163, 163);
}
.contact-comp .contact-header .contact-icon {
    margin-right: 5px;
}

.contact-comp .contact-site i {
    margin-right: 5px;
}