.contact {
    line-height: normal;
}
.contact .link {
    word-wrap: break-word;
}
.contact .site {
    margin-left: 0.3rem;
}
.contact .title-icon {
    margin-right: 5px;
}
.contact .coding-profiles {
    color: #b5179e;
}
.dark-theme .contact .title {
    color: #48e5c2;
}