.achivement .menu {
    line-height: normal;
}
.achivement .title-icon {
    margin-right: 5px;
}

.dark-theme .achivement .menu {
    color: #eee;
}
.dark-theme .achivement .title {
    color: #48e5c2;
}

/* rating color */
.codechef {
    color: #FFBF00;
}
.codeforces {
    color: #0000FF;
}