<!-- Achivements -->
<div class="achivement-comp">
    <div class="bold hide">
        <div class="achivement-header">
            <i class="fas fa-trophy achivement-icon"></i> Achivements
        </div>
        <hr>
    </div>
    <table class="table table-sm table-borderless">
        <tbody class="achivement-list">
            <tr>
                <td class="achivement-header bold">Year</td>
                <td class="achivement-header bold">Description</td>
            </tr>
            <tr>
                <td class="achivement-year">2021</td>
                <td class="achivement-details">
                    <span class="codechef">5 star (2005)</span>
                    <a href="https://www.codechef.com/users/silent__1" target="_blank">CodeChef</a>
                    highest rating
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2020</td>
                <td class="achivement-details">
                    <span class="codeforces">Expert (1798)</span>
                    <a href="https://codeforces.com/profile/dhiraj-01" target="_blank">Codeforces</a>
                    highest rating
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2021</td>
                <td class="achivement-details">
                    <span class="bold">2015 pt</span>
                    <a href="https://leetcode.com/dhiraj-01/" target="_blank">Leetcode</a>
                    highest rating
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2021</td>
                <td class="achivement-details">
                    <a href="https://drive.google.com/drive/folders/1OVtLq7gRff0d8dPNRIqzccfiZIWBn6iN"
                        target="_blank">
                        Google Coding Competitions Certificates
                    </a>
                    (Hashcode, Kickstart)
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2021</td>
                <td class="achivement-details">
                    More than
                    <span class="bold">2000 problems</span> were solved in various
                    <a href="https://www.stopstalk.com/user/profile/dhiraj_01" target="_blank">
                        coding platforms
                    </a>
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2020</td>
                <td class="achivement-details">
                    Problem Setter and Tester of
                    <span class="bold">DDU Coding Club</span>
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2021</td>
                <td class="achivement-details">
                    <span class="bold">742</span> rank,
                    <span class="bold">ICPC Amritapuri Preliminary round</span>
                    (out of ~ 3500 teams)
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2020</td>
                <td class="achivement-details">
                    <span class="bold">3rd</span>,
                    <a href="https://drive.google.com/file/d/1zM1GT8ne4rVP76AsF5BYVik1rgn_xF0o/view"
                        target="_blank">
                        CodeRage Coding Competition
                    </a>
                    in Felicific (College Tech Fest)
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2020</td>
                <td class="achivement-details">
                    <a href="https://www.hackerrank.com/certificates/12dbb1122a78" target="_blank">
                        Hackerrank Certificate, Problem Solving (Intermediate)
                    </a>
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2019</td>
                <td class="achivement-details">
                    <span class="bold">64th</span>
                    , Codechef Nov. Long Challenge Div.2
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2020</td>
                <td class="achivement-details">
                    <span class="bold">128th</span>
                    , Codechef Feb Long Challenge Div.2
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2020</td>
                <td class="achivement-details">
                    <span class="bold">173rd</span>,
                    <a href="https://codeforces.com/bestRatingChanges/4074678" target="_blank">
                        Codeforces Round 686 (Div. 3)
                    </a>
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2021</td>
                <td class="achivement-details">
                    <span class="bold">187th</span>,
                    <a href="https://codeforces.com/bestRatingChanges/5319750" target="_blank">
                        Codeforces Round 726 (Div. 2)
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <!-- Coding -->
    <div>
        <div class="coding-profile bold">
            <i class="fas fa-terminal"></i> Coding Profiles
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/codechef.svg">
                CodeChef
            </div>
            <div class="coding-link">
                <a href="https://www.codechef.com/users/silent__1" target="_blank">
                    https://www.codechef.com/users/silent__1
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/codeforces.svg">
                Codeforces
            </div>
            <div class="coding-link">
                <a href="https://codeforces.com/profile/dhiraj-01" target="_blank">
                    https://codeforces.com/profile/dhiraj-01
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/leetcode.svg">
                Leetcode
            </div>
            <div class="coding-link">
                <a href="https://leetcode.com/dhiraj-01/" target="_blank">
                    https://leetcode.com/dhiraj-01/
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/hackerrank.svg">
                HackerRank
            </div>
            <div class="coding-link">
                <a href="https://www.hackerrank.com/silent__1?hr_r=1" target="_blank">
                    https://www.hackerrank.com/silent__1
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">BinarySearch</div>
            <div class="coding-link">
                <a href="https://binarysearch.com/@/dhiraj-01" target="_blank">
                    https://binarysearch.com/@/dhiraj-01
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">StopStalk</div>
            <div class="coding-link">
                <a href="https://www.stopstalk.com/user/profile/dhiraj_01" target="_blank">
                    https://www.stopstalk.com/user/profile/dhiraj_01
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>