<div class="about">
    <div class="bold hide"># Home <hr></div>
    <div class="mb-3"> 
        <h1>HI 👋, I'm <span class="bold">Dhiraj Govindvira.</span></h1>
    </div>
    <ul>
        <li>Currently pursuing (4th year) B.Tech Computer Engineering from <a href="https://ddu.ac.in/"
            target="_blank">Dharmsinh Desai University</a>.
        </li>
        <li>Looking forward to earning the position of Software Engineer.</li>
        <li>I have a good grasp of Data-structure & Algorithms, C/ C++ and basic Python & Web Development knowledge.</li>
        <li>In the free time, I ❤️ problem solving.</li>
        <li>I keep things simple and 💻 attracts me a lot.</li>
        <button class="know-more mt-2 btn btn-outline-primary" onclick="knowMore()">Know more</button>
    </ul>
</div>