<div class="about-comp">
    <div class="bold hide">
        <div class="about-header">
            <i class="fas fa-home about-icon"></i> About 
        </div>
        <hr>
    </div>
    <div class="about-title mb-3">
        <div class="hi">HI 👋, I'm <span class="bold name">Dhiraj Govindvira.</span></div>
        <div class="sub"> Programmer & Tech Enthusiast</div>
    </div>
    <ul class="about-details">
        <li>Currently pursuing (4th year) B.Tech Computer Engineering from <a href="https://ddu.ac.in/" target="_blank">Dharmsinh Desai University</a>.</li>
        <li>Looking forward to earning the position of Software Engineer.</li>
        <li>I have a good grasp of Data-structure & Algorithms, C/ C++, and Python (basic).</li>
        <li>Also, I have a knowledge of web development, created projects based on the MEAN stack, Javascript, Bootstrap.</li>
        <li>In my free time, I enjoy ❤️ problem-solving (DSA).</li>
        <li>I keep things simple and 💻 attracts me a lot.</li>
        <button class="know-more-btn mt-2 btn btn-outline-primary" onclick="show('project')">Know more</button>
    </ul>
</div>