.about-comp {
    font-size: 1em;
}

/* about header */
.about-comp .about-header {
    color: var(--purple);
}
.dark-mode .about-comp .about-header {
    color: var(--dark-gray);
}
.about-comp .about-header .about-icon {
    margin-right: var(--icon-margin-right);
}

/* dhiraj govindvira */
.about-comp .about-title .name {
    color: #06234F;
}
.dark-mode .about-comp .about-title .name {
    color: var(--light-green);
}

/* know more */
.about-comp .about-details .know-more-btn {
    font-size: 1em;
}