.education-comp {
    font-size: 1em;
}

/* education header */
.education-comp .education-header {
    color: #b5179e;
}
.dark-mode .education-comp .education-header {
    color: rgb(163, 163, 163);
}
.education-comp .education-header .education-icon {
    margin-right: 5px;
}

/* education timeline */
.education-comp .education-timeline {
    font-size: 0.9em;
}
.education-comp .education-timeline i {
    margin-right: 5px;
}

/* education course */
.dark-mode .education-comp .education-course .course {
    color: #48e5c2;
}