<!-- Education -->
<div class="education">
    <div class="bold hide"># Education<hr></div>
    <!-- Ddit -->
    <div>
        <div>
            <a href="https://ddu.ac.in/" target="_blank">Dharmsinh Desai University</a>
            - Nadiad
        </div>
        <div class="timeline">
            May 2018 - May 2022 (Expected)
        </div>
        <div class="mt-2 bold">
            B.Tech - Computer Engineering
        </div>
        <div>
            CPI : 8.5 / 10
        </div>
        <div class="mt-2">
            Undergraduate Courses include Design and Analysis of Algorithms, Advanced Algorithms,
            Software Engineering, Object-Oriented Software Engineering, Operating Systems,
            Database Management Systems, UNIX, Basics of Computer Architecture.
        </div>
    </div>
    <hr>
    <!-- Sharda Mandir -->
    <div>
        <div>
            <a href="https://www.shardamandirnadiad.org/" target="_blank">Sharda Mandir School</a>
            - Nadiad
        </div>
        <div class="timeline">
            June 2006 - Mar 2018
        </div>
        <div class="mt-2">
            <span class="bold">12th (Science) - GSHEB</span> | March 2018
        </div>
        <div>
            Percentage : 94 % <br>
            (Physics, Chemistry, Maths)
        </div>
        <div class="mt-3">
            <span class="bold">10th (SSC) - GSHEB</span> | March 2016
        </div>
        <div>
            Percentage : 94 %
        </div>
    </div>
    <hr>
</div>