.education {
    font-size: 1em;
}
.education .education-header {
    color: #b5179e;
}
.dark-mode .education .education-header {
    color: rgb(163, 163, 163);
}
.education .education-header .education-icon {
    margin-right: 5px;
}
.education .education-timeline {
    font-size: 0.9em;
}
.education .education-timeline i {
    margin-right: 5px;
}
.dark-mode .education .education-course .course {
    color: #48e5c2;
}