<!-- Education -->
<div class="education">
    <div class="education-header bold hide">
        <i class="fas fa-user-graduate education-icon"></i> Education<hr>
    </div>
    <!-- Ddit -->
    <div>
        <div class="education-institute">
            <a href="https://ddu.ac.in/" target="_blank">Dharmsinh Desai University</a>
            - Nadiad
        </div>
        <div class="education-timeline">
            <i class="far fa-calendar-alt"></i>
            May 2018 - May 2022 (expected)
        </div>
        <div class="education-course mt-2">
            <span class="course bold">B.Tech - Computer Engineering</span>
        </div>
        <div class="education-percentage">
            CPI : 8.5 / 10
        </div>
        <div class="education-info mt-2">
            Undergraduate Courses include Design and Analysis of Algorithms, Advanced Algorithms,
            Software Engineering, Object-Oriented Software Engineering, Operating Systems,
            Database Management Systems, UNIX, Basics of Computer Architecture.
        </div>
    </div>
    <hr>
    <!-- Sharda Mandir -->
    <div>
        <div class="education-institute">
            <a href="https://www.shardamandirnadiad.org/" target="_blank">Sharda Mandir School</a>
            - Nadiad
        </div>
        <div class="education-timeline">
            <i class="far fa-calendar-alt"></i>
            June 2006 - Mar 2018
        </div>
        <div class="education-course mt-2">
            <span class="course bold">12th (Science) - GSHEB</span> | March 2018
        </div>
        <div class="education-percentage">
            Percentage : 94 % <br>
            (Physics, Chemistry, Maths)
        </div>
        <div class="education-course mt-3">
            <span class="course bold">10th (SSC) - GSHEB</span> | March 2016
        </div>
        <div class="education-percentage">
            Percentage : 94 %
        </div>
    </div>
    <hr>
</div>